*{
    margin: 0;
    border: 0;
    padding: 0;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --fundo: #9e9e9e;
    --fundo-content: #dfdfdf;
    --botao1: #969696;
    --botao2: #7c7c7c;
    --botao3: #696969;
    --caixa: #949393;
    --fonte: #000000;
    --fonte-clara: #727272;
    --fonte-ativa: #575151;
    --checked-on: #444444;
    --checked-off: #9b9b9b;
}